html{

	background: url(img/y.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica Neue', sans-serif;  
}
.prof-pro{
	width: 500px;
	height: 500px;
	background: rgba(0,0,0,0.4);
	padding: 25px;
	color: white;
	margin: 0 auto;
	margin-top: 50px;
	text-align:left;

}
h1{
	color: white;
}
h4
{
	color:yellow;
	font-size: 15px;
}
p{
	color: white;
}
a{
	color: cyan;
	
}